.Sidebar {
  width: 80px;
  background-color: rgb(100, 37, 168);
  height: 100%;
  border-right: 1px solid rgba(179, 142, 219, 0.1); transition: width 0.3s;
  overflow-y: scroll;
  }
  /* not small devices */ 
  @media (min-width: 576px) {
  .Sidebar { 
    width: 320px;
  } 
}